/* base classes */
@use "../media-queries.scss" as *;
@use "../basic.scss" as *;

%flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

%absolute-full {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%top-left-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%trans {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

%trans_b {
  transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
}

%no-space {
  padding: 0;
  margin: 0;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%basic-container {
  border-radius: 2px;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
}

/* base classes */

.cardGrid {
  display: grid;
  flex: 1 1 100%;
  height: 100%;
  width: 100%;
  row-gap: 1rem;
  justify-items: center;
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @include mq(medium) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1rem;
  }
  @include mq(xl) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .card {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: var(--space-m);
    width: 100%;
    max-width: 400px;
    align-self: center;
    svg {
      min-height: 5rem;
      max-height: 100px;
      path {
        fill: rgb(95, 130, 189) !important;
      }
    }
    .card__header {
      font-family: var(--fonts-header);
      font-size: var(--fs-sub-small);
      color: #506c00;
      font-family: "Poppins";
      font-weight: 800;
      text-align: center;
      white-space: wrap;
      line-height: 1.3;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 80px;
    }
    .card__icon {
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      min-height: 100px;
    }
  }
}

.card {
  display: flex;
  z-index: 10;
  gap: 1rem;
  flex-direction: column;
  // box-shadow: 2px 2px 10px #11111115;
  // border: 1px solid var(--clr-contrast-200);

  border-radius: 5px;
  padding: var(--space-m);
  width: 100%;
  max-width: 250px;
  align-self: center;
  svg {
    height: clamp(6rem, 10vw, 7rem);
    filter: drop-shadow(2px 2px 5px rgba(10, 49, 3, 0.1));

    max-width: 100px;
  }
  .card__header {
    font-size: clamp(1rem, 5vw, 1.25rem);
    color: #506c00;
    font-family: "Poppins";
    font-weight: 700;
    text-align: center;
    white-space: wrap;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: flex-start;
    min-height: 80px;
  }
  .card__icon {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    min-height: 100px;
  }
}

.targetC {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  @include mq(medium) {
    flex-direction: row;
  }
}

.science-content {
  height: 100%;
  @include mq(medium) {
    height: calc(100dvh - 100px);
  }
}
