@use "../../../media-queries" as *;
/* base classes */

%flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

%absolute-full {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%top-left-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%trans {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

%no-space {
  padding: 0;
  margin: 0;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* base classes */

.modules__header {
  width: 100%;
  color: #32689c;
  font-weight: 700;
  text-align: center;
}

.module__controls {
  position: absolute;
  width: 100%;
  height: 4rem;
}

.module_carousel-wrapper {
  height: 100%;
  width: 100%;
  .next,
  .prev {
    background-color: #1c4367;
    color: white;
    line-height: 1;
  }
  .landing_wrapper {
    .right-wrapper {
      height: 100%;
      width: 100%;
    }
  }
}

.module__slide {
  @extend %flex-full;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  .module__header,
  .module__text {
    font-family: "Poppins";
  }
  .module__header {
    font-size: var(--fs-sub-small);
    font-weight: 600;
    color: #32689c;
  }

  .module__text {
    font-size: clamp(1rem, 10vw, 1.125rem);
    font-weight: 500;
    color: #1c4367;
  }
}
