@use "../../../media-queries" as *;
/* base classes */

%flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

%absolute-full {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%top-left-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%trans {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

%no-space {
  padding: 0;
  margin: 0;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%rel {
  position: relative;
}

%col {
  flex-direction: column;
}

%row {
  flex-direction: row;
}

/* base classes */

.img_carousel-wrapper.slider {
  @extend %flex-full, %col;
  justify-content: center;
  align-items: center;
  .next,
  .prev {
    @extend %flex-center;
    transform-origin: center;
    text-align: center;
    background-color: #a3741b;
    color: #6a490b;
    font-size: 3rem;
    line-height: 1;
  }
}

.slider .slide {
  @extend %flex-full, %col;
  justify-content: center;
  align-items: center;
  background-color: #f2e4c9;
  font-family: "Poppins";
  padding: clamp(2rem, 10vw, 3rem);
  height: 80%;
  min-height: fit-content;
  border-radius: 3rem;
  max-width: 1000px;
  gap: 2rem;
  p {
    color: "red" !important;
  }
  h3 {
    color: #2004d3;
    text-align: center;
    font-weight: 800;
    font-size: var(--fs-sub-small);
  }
}
