@use "../../../../media-queries" as *;
/* base classes */

%flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

%absolute-full {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%top-left-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%trans {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

%no-space {
  padding: 0;
  margin: 0;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%rel {
  position: relative;
}

%col {
  flex-direction: column;
}

%row {
  flex-direction: row;
}

%flex {
  display: flex;
}

/* base classes */
.management__wrapper {
  @extend %col, %flex;
  width: 100%;
  gap: 2rem;
  color: #32689c;
}

.management__header {
  font-family: var(--fonts-header);
  font-size: var(--fs-sub-big);
  font-weight: 800;
  width: 100%;
  margin: 0;
  &:nth-child(even) {
    text-align: right;
    margin-left: auto;
  }
  @include mq(medium) {
    width: 66%;
  }
}

.management__text {
  color: #32689c;
  font-family: var(--fonts-text);
  text-align: center;
  width: 100%;
  margin: auto;
}
