@use "../../media-queries" as *;
/* base classes */

%flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

%absolute-full {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%top-left-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%trans {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

%no-space {
  padding: 0;
  margin: 0;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* base classes */

.get-to-know-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.get-to-know-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}

.get-to-know-title {
  width: 100%;
  text-align: center;
  color: #506c00;
  font-weight: 900;
}

.get-to-know-grid {
  width: 100%;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  justify-items: center;
}

.get-to-know-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #f8f3e0;
  padding: 1.5rem;
  max-width: 64rem;
  border-radius: 0.75rem;
  @include mq(medium) {
    flex-direction: row;
  }
}

.get-to-know-image {
  border-radius: 0.375rem;
}

.get-to-know-text {
  color: #383d2b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 60%;
  width: 100%;
  text-align: left;
}

.get-to-know-heading {
  margin-top: auto;
  width: auto;
  color: #506c00;
}
